.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bg-light-yellow {
    background-color: $light-yellow;
}

.bg-light-pink {
    background-color: $light-pink;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-gray {
    background-color: $gray;
}

.small {
    font-size: $small;
}

.medium {
    font-size: $medium;
}

.large {
    font-size: $large;
}

.ant-modal-wrap.customed-modal-wrap {
    /* margin: 20px; */
    display: block;
    justify-content: center;
    align-items: center;
    /* width: 100% !important; */
    height: 100%;
  }
  
.ant-modal-wrap.customed-modal-wrap .ant-modal {
    width: 100%!important;
    position: unset;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 50px;
    height: 100%;
}

.ant-modal-wrap.customed-modal-wrap .ant-modal-content {
    width: 100%;
}

.ant-modal-wrap.customed-modal-wrap .ant-modal-body {
    height: calc(100% - 56px);
}

.chartTV-container,
.chartTV-container .chartTV,
.chartTV-container .chartTV article,
.chartTV-container .chartTV article iframe {
  height: 100% !important;
}