# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store

.idea
.fusebox

.log/
.cache/

.vscode

.cache
dist/*
!dist/favicon.ico
!dist/img
!dist/*-sw.js
