// Colors
$white: #fff;
$white2: #f3f4f6;
$white3: #e2e7f2;
$black: #000;
$gray0: #414141;
$gray1: #556f7b;
$gray125: #666;
$gray15: #797979;
$gray2: #a0a0a0;
$gray25: #ccc;
$gray3: #e8e9ec;
$gray4: #f8f9fa;
$gray5: #dce6ea;
$gray6: #eee;
$gray7: #9e9e9e;
$gray8: #f2f4f6;
$gray9: #4b5862;
$gray10: #e9edf3;
$gray11: #bababa;
$gray12: #979797;
$text-color: $gray1;

$blue1: #5779d9;
$blue2: #3759b6;
$blue3: #4a90e2;
$blue4: #5293cc;
$blue5: #1e2a4a;

$red1: #dc3545;
$red2: #ff6b79;

$aqua: #4ec7b5;
$aqua-bold: #4b8d82;
$aqua-disabled: #99e6da;

// Accent colors
$ds-accent: #5779d9;

$orange: #f5a623;