.FinalAnalysis {
    height: 100%;
    position: relative;

    textarea.ant-input {
        height: 100%;
    }
}

.FinalAnalysis-preview {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}