

.Stock .ant-tabs-content.ant-tabs-content-left,
.Stock .ant-tabs-content.ant-tabs-content-left .ant-tabs-tabpane.ant-tabs-tabpane-active {
    height: 100%;
}

.Stock-header {
    position: absolute;
}

.Stock-container {
    padding-top: 54px;
}